/** RESETS **/

html,body,div,span,dl,dt,dd,ul,ol,li,a,table,h1,h2,h3,h4,h5,h6,p,pre,form,fieldset,blockquote,.src,.example{margin:0px;padding:0px;font-weight:normal;text-decoration:none;font-size:inherit;color:inherit;}

.section-number-1,.section-number-2,.section-number-3,.section-number-4,.section-number-5,.section-number-6{font-weight:inherit;}

.float-right{float:right;}

.author{
color:#666;
line-height:3em;
}

body{
    font:87.5% "Georgia Serif", Times, Palatino, "Times New Roman", serif;
    background: #DCDCDC;
}
a{color:blue;}
html>body{font-size:14px;}

body{
    width:54em;
    padding:1.5em;
    padding-top:6em;
    margin: auto;

}

p{
    line-height:1.5em;
    font-size:1em;
    margin-top:1.5em;
    margin-bottom:1.5em;
}
.post_list{
    margin-top:1.5em;
}

.title{text-align:left;}



h1{font-size:2.5em;line-height:1.2em;}
h2{font-size:1.5em;line-height:1em;margin-top:2em;margin-bottom:1em;}
h3{
    font-size:1.1667em;
    line-height: 1.286em;
    margin-top:1.929em;
    margin-bottom:0.643em;
    font-weight:bolder;
}
h4{
    font-weight:bold;
    line-height:3em;
}




/*p + dl{
    margin-top:-1.5em;
    border:1px solid red;
}*/
dt{font-weight:bold;}
dd{padding-left:1.5em;}

li{
    font-size:100%;
    line-height:1.5em;
}


div{margin:0!important;padding:0!important;}
/*table{display:none;}*/
.src,.example{margin:0;padding:1em;font-size:1em;line-height:1.5em;
}
.src{background:#444;color:#fff;}
.example{background:#242834;color:#fff;padding:.75em}



.header{
    font-family:Arial,Helvetica,Verdana,sans-serif;
    vertical-align:text-top;
    position:absolute;
    top:0px;left:0px;
    right:0px;
    background:#345;
    padding:.75em 1.5em!important;
    border-bottom:1.5em solid #EBD6D6;
    border-bottom-color:#9FB8D3;
    background:#0F4D92;

    border-bottom:1em solid #cdf;
    background:#444;
    background:#49A;
    background:transparent;
    background:#eef0ff;

    background:#933;
    background:#A55;

    border-color:#EDD;

    /*background: #939;
    border-color:#EDE;*/

    /* background:#359; */
    /* border-color:#9AC; */

}





.header h1{
font:1.75em Arial,Helvetica,Verdana,sans-serif;
line-height:1.166em;
font-weight:bold;
color:#b90;
color:#06a;
color:#fff;

text-shadow: #822 0px 0px 2px;

font-weight:normal;
display:inline;
}
.header h1 em{
    color:#b90;
    color:#fc2;
    color:#b90;
    color:#db2;
    color:#fd4;
    font-weight:bold;
    font-style:normal;
}
.header * {vertical-align:middle;}

.header ul {
    display:inline;
    padding-left:1.5em;
    margin-left:0!important;
}
.header li {
    display:inline;
    padding:0 .75em;
}
.header li a{
    text-decoration:none;
    color:#ffd;
}


/*dl{display:none;}*/



ol{margin-left:1.5em;}
ul{
    list-style-type: disc;
    margin-left:1.5em;
}
ul ul{
    list-style-type:circle;
}

#table-of-contents ul{list-style-type:none;}
#text-table-of-contents > ul:first-child > li > a{ font-weight:bold;}




#postamble p,#postamble a{
    font-size:.857em;
    line-height:1.75em;
    padding:0;
    margin:0;
}
#postamble{
    margin:1.75em 0!important;
    border-top:1px solid #888;
}

blockquote{
    margin-left:1em;
}











/*** blue **/
a{}
.header a{background:inherit;}
h1,h2,h3,h4,h5,h6, #text-table-of-contents li{
    color:#026;
    color:#0A3361;
    font-weight:normal;
}
.header{background:#0F4D92;border-bottom-color:#AFC4DB
}

/*.header h1{text-shadow: #228 0px 0px 2px;}*/








h1,h2,h3,h4,h5,h6{
    color:#373737;
    font-weight:bolder;
}

h1.title{font-weight:normal;font-size:3em;line-height:1em;}

body{width:48em;}
img{max-width:48em;}

body{text-align:justify;
     font:12px "Lucida Grande","Trebuchet MS","Bitstream Vera Sans",Verdana,Helvetica,sans-serif !important;
     color:#272727;
}
code{
    font-weight:inherit;
    color:#048;
    color:black;

}

a{color:#00e}
a:visited{color:#551A8B}


.figure {
    background:#ddd;
    border:1px solid #ccc;
    font-size:.90em;
    line-height:1.666em;
    padding:1.5em!important;
    text-align:left!important;
    margin-bottom:1.666em;
}

.outline-2{
    margin:3em 0!important;
}


body{padding-top:9em;padding-left:3em;}
.header{
    padding-left:3!important;
}
.header h1, .header h1 em {
    text-shadow:none;
    font-size:1.5em!important;
}

.header {
    background:transparent;
    padding-left:3em!important;
    border-bottom:none;
    color:inherit!important;
    background:#dde8ff;
    border-bottom:1px solid #c3d9ff;
}
.header h1, .header h1 em {
    text-shadow:none;
    color:#06c;

    font-family:"Georgia Serif", Times, Palatino, "Times New Roman", serif;
}
.header li a {
    color:inherit!important;
    text-decoration:underline;
}

#text-table-of-contents a {

}
