/bba.el
/bba-orgmode.el
/bba-programming.el
/bba-shell.el
/bookmarks
*.elc
/.mc-lists.el
archive-contents
/ac-comphist.dat
/cache
/elpa/archives/*
/eln-cache
/eshell/history
/eshell/lastdir
/history
/mthesaur.txt.cache
/org-clock-save.el*
/tramp
/url/*
/tldr
/recentf
/ido.last
apples-tmp-dir
/games
/network-security.data
/transient
/type-break
/org-persist/*
/.cache/*
/request/*
/.org-id-locations
/.#type-break
/elpa/vterm*/build
