/bba.el
/bookmarks
*.elc
/.mc-lists.el
archive-contents
/ac-comphist.dat
/elpa/archives/*
/eshell/*
/history
/mthesaur.txt.cache
/org-clock-save.el*
/tramp
/url/*
/tldr
/recentf
/ido.last
apples-tmp-dir
/games
/network-security.data
/transient
/type-break
